$font-monospace: 'Inconsolata', ;

$pixel-size: 3;
$pixel-on-color: rgb(0, 0, 0);
$pixel-off-color: rgb(61, 122, 61);
$screen-color: rgb(204, 204, 204);

.screen {
  width: 64px * $pixel-size;
  height: 64px * $pixel-size;
  display: block;
  padding: 0;
  background-color: $screen-color;

  .pixel {
    background-color: $pixel-off-color;
    display: inline-block;
    width: $pixel-size * 1px;
    height: $pixel-size * 1px;
    float: left;

    &.on {
      background-color: $pixel-on-color;
    }
  }
}

$ram-view-width: 500px;
$ram-view-height: 500px;

$static-range-color: rgb(205, 218, 255);
$program-range-color: rgb(182, 216, 195);
$stack-range-color: rgb(245, 230, 239);

.ram-view {
  border: 1px solid black;
  width: $ram-view-width;
  height: $ram-view-height;
  overflow-y: scroll;
  overflow-x: hidden;

  .ram-row {
    font-family: $font-monospace;
    font-weight: bold;

    $offset-back-color: rgb(196, 196, 196);

    .offset {
      width: 50px;
      background-color: $offset-back-color;
      display: inline-block;
      text-align: right;
      padding-right: 5px;
      font-weight: bold;
      color: darken($offset-back-color, 40);
      height: 100%;
    }

    .zero {
      font-weight: normal;
    }

    .range-static {
      background-color: $static-range-color;
    }

    .range-program {
      background-color: $program-range-color;
    }

    .range-stack {
      background-color: $stack-range-color;
    }
  }
}

.registers-view {
  border: 1px solid black;
}