$ram-view-width: 400px;
$ram-view-height: 100vh;

$static-range-color: rgb(205, 218, 255);
$program-range-color: rgb(182, 216, 195);
$stack-range-color: rgb(245, 230, 239);
$cover-color: rgba(53, 93, 173, 0.5);

$ram-row-height: 20px;

.ram-view {
  border: 1px solid black;
  width: $ram-view-width;
  height: $ram-view-height;
  max-height: $ram-view-height;
  overflow: hidden;
  display: inline-block;

  position: relative;

  .cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $cover-color;
  }

  .header {
    float: left;
  }

  .rows {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100%;

    .ram-row {
      font-family: $font-monospace;
      font-weight: bold;
      height: $ram-row-height;
      $offset-back-color: rgb(196, 196, 196);

      .offset {
        width: 50px;
        background-color: $offset-back-color;
        display: inline-block;
        text-align: right;
        padding-right: 5px;
        font-weight: bold;
        color: darken($offset-back-color, 40);
        height: $ram-row-height;
      }

      &.current {
        color: red;
      }

      .zero {
        font-weight: normal;
      }

      .range {
        height: 100%;
        display: inline-block;

        &.range-static {
          background-color: $static-range-color;
        }

        &.range-program {
          background-color: $program-range-color;
        }

        &.range-stack {
          background-color: $stack-range-color;
        }
      }

      .disassembly {
        padding-left: 10px;
        font-weight: normal;
      }
    }
  }
}
