<div id="app-container"></div>
<div class="load-cover visible">
    <div class="spinner">
        <div class="inner-spinner"></div>
    </div>
    <div class="cover-text">Loading</div>
</div>
<script src="dist/bundle/bundle.js"></script>
