<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    <% if (production) { %>
    <link rel="stylesheet" href="css/bundle.min.css">
    <% } else { %>
    <link rel="stylesheet" href="css/bundle.css">
    <% } %>

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <title>
        <% typeof locals.title === "undefined" ? "tinyassembly" : title %>
    </title>
</head>
<body>
<%- body %>

<% if (production) { %>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-62629661-3', 'auto');
    ga('send', 'pageview');
</script>
<% } %>
</body>
</html>