<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    
    <% if (production) { %>
    <link rel="stylesheet" href="css/bundle.min.css">
    <% } else { %>
    <link rel="stylesheet" href="css/bundle.css">
    <% } %>

    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'>
    <title>
        <% typeof locals.title === "undefined" ? "tinyassembly" : title %>
    </title>
</head>
<body>
<%- body %>
</body>
</html>